@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background-image: url('/stacked-waves-haikei.svg');
    background-size: cover;
    /*background: theme(colors.gray.800);*/
    min-height: 100vh;
  }
  li {
    font-weight: 600;
  }
}
