@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
  body {
    min-height: 100vh;
  }
}

@layer components {
  .name-gradient {
    color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;  
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,255,163,0.34) 0%, rgba(0,133,255,0.34) 32%, rgba(0,21,214,0.34) 68%, rgba(214,0,205,0.34) 100%);
    pointer-events: none;
  }

  @keyframes fade-move-in {
    from {opacity: 0; transform: translateY(-100px);}
    70% {opacity: 0.3;}
    to {opacity: 1;}
  }

  @keyframes move-across {
    0% {transform: translateX(-100vw);}
    50%, 100% {transform: translateX(200vw);}
  }

  .coolbg {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    background-color: white;
    backdrop-filter: blur(200px);
    z-index: -1;
  }
}
